<div class="container">

  <div class="row justify-content-center mt-5 mb-5">
    <img src="../../assets/asir.jpg" alt="a" class="col-6">
  </div>

  <div class="row">

    <div class="col justify-content-center nav gap-3">

      <a routerLink="bd" class="btn btn-warning">BD</a>
      <a routerLink="fh" class="btn btn-success">FH</a>
      <a routerLink="lm" class="btn btn-danger">LM</a>
      <a routerLink="sor" class="btn btn-primary">SOR</a>

    </div>

  </div>

  <div class="row">
    <router-outlet></router-outlet>
  </div>

</div>
