<div class="container">

  <div class="row justify-content-center mt-5 mb-5">
    <img src="../../assets/daw.png" alt="a" class="col-6">
  </div>

  <div class="row">

    <div class="col justify-content-center nav gap-3">

      <a routerLink="despliegue" class="btn btn-warning">Despliegue</a>
      <a routerLink="diw" class="btn btn-success">DIW</a>
      <a routerLink="dwec" class="btn btn-danger">DWEC</a>
      <a routerLink="dwes" class="btn btn-primary">DWES</a>

    </div>

  </div>

  <div class="row">
    <router-outlet></router-outlet>
  </div>

</div>
